@font-face {
  font-family: "keren";
  src: url(./images/SFPRODISPLAYMEDIUM.OTF);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Keren;
}


.contenair-central {
  display: flex;
  width: 100%;
  gap: px;
  background-color: black;

}

.classeun {
  width: 35%;
  overflow-x: auto;


}

.contenairpremiere {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 15px;
  width: 25%;

}

.contenairpremiere-1 {
  display: flex;
  flex-direction: column;
  width: 130%;
  gap: 40px;
  font-size: large;
  padding-left: 260px;

}

.bouton {
  width: 50%;
  height: 40px;
}

.bare-2 {
  display: flex;
  padding-top: 140px;

}

.contenairtrois {
  border: 1px solid #2427bb;
  width: 25%;

}

.buton-un {
  background-color: #1D9BF0;
  color: #FFFF;
  width: 60%;
  height: 40px;
  border-radius: 25px;
  justify-content: end;


}

.What-happening {
  color: #a29a9a;

}

.home {
  display: flex;
  flex-direction: row;
  color: #FFFF;
  border: 1px solid #1e1a1a;
  height: 60px;
  justify-content: space-between;
  padding-bottom: 5px;
  font-weight: bold;
}

.home-whidth {
  width: 50%;
}

.bare-text {
  padding-left: 15px;
}

.photo-du-bas {
  display: flex;

}

.MORE {
  padding-left: 0px;
}

.bradley_ {
  color: #6d6a6a;
}

.sticker {
  gap: 1px;
  margin-left: 30px;
}

.boutonprofile {
  width: 50%;

}

.profilepremier {
  border: 1px solid #282626;
  color: #FFFF;
  display: flex;
}

.classetrois {

  color: #fffdfd;
  border: 1px solid #282626;
  gap: 1rem;
  padding: 1rem;

}

.class-trois-1-cnn-ligne {
  display: flex;
}

.cnn-27 {
  display: flex;
  color: #6d6a6a;
}

.text-lorem {
  padding-left: 55px;
  color: #d8d5d5;
}

.class-trois-1-cnn {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding-left: 5px;
}

.CNN-text {
  padding-left: 5px;
  color: #888282;
}

.class-trois-1 {
  display: flex;
}

.image-cnn {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.class-quatre {
  border: 1px solid #282626;
  color: #FFFF;
}

.flex-bloc-noir-blanc {
  display: flex;
  padding-top: 10px;
}


.logo-en-noir {
  display: flex;
  flex-direction: column;
  color: #FFFF;
  padding-left: 60px;

}

.text-du-logo-noir {
  display: flex;
}

.fleure {
  display: flex;
  padding-left: 65px;
  padding-top: 5px;

}

.nytimes-2h {
  color: #6d6a6a;
}

.fleure img {
  border-radius: 1rem;
  width: 90%;
}

.text-fleure {
  display: flex;
  gap: 25px;
  padding-left: 75px;
  padding-top: 20px;
}

.twiter {
  border: 1px solid #aeabab;
  color: #FFFF;

}

.twiterun {
  color: #FFFF;
  border: 1px solid #aeabab;
}

.like {
  gap: 30px;
  padding-top: 20px;
  margin-left: 30px;
}

.media {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  gap: 10px;
}

.bouton-deux {
  padding-left: 310px;
  width: 40%;
  height: 40px;
  padding-bottom: 5px;
}

.tweeter-deux {
  background-color: #00aaff;
  color: #FFFF;
  width: 170%;
  height: 40px;
  border-radius: 25px;
  justify-content: end;
}

.like-deux {
  display: flex;
  padding-left: 70px;
  padding-top: 15px;
  gap: 20px;
}

.logotweeter-un {
  display: flex;
  gap: 20px;
}

.text-tweeter {
  padding-left: 70px;
  gap: 20px;
}

.tweetertext-deux {
  display: flex;
  padding-left: 70px;
}

.nav {
  display: flex;
  justify-content: center;
  /* padding-left: 20%; */
  align-items: center;
  background-color: rgb(13, 15, 37);
  border-radius: 30px;
  padding: 5px;
  width: 110%;
  height: 42px;

}

.nav-input {
  width: 80%;
  height: 30px;
  background-color: rgba(19, 22, 47, 0.625);

}

.contenairtrois {
  padding-left: 60px;

}

input {
  background-color: rgb(9, 9, 9);
}

.ul-un {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 18, 34);
  border-radius: 10px;

}

.text-option {
  padding-top: 5px;
}

.show-more {
  color: #1D9BF0;
  font-weight: bold;
  padding-top: 10px;
}

.Trending-1 {
  font-weight: bold;
  padding-top: 20px;
  color: #5f5b5b;
}

.Trending-2 {
  font-weight: bold;
  padding-top: 20px;
  color: #434040;
}

.Trending-3 {
  font-weight: bold;
  padding-top: 20px;
  color: #464444;
}

.Trending-4 {
  font-weight: bold;
  padding-top: 20px;
  color: #5f5959;
}

.Trending-enligne {
  display: flex;
  justify-content: space-between;
}

.ul {
  padding-top: 30px;
  width: 97%;
  /* color: #a22222; */
  padding-left: 30px;

}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.img-option {
  justify-content: end;
}


.Follow {
  justify-content: end;
  width: 220%;
  height: 40px;
  border-radius: 25px;

}

.classe-pour-follow {
  padding-left: 107px;

}

.classe-pour-follow-3 {
  padding-left: 93px;

}

.bloc-dernier {
  display: flex;
  color: #ffffff;
  background-color: rgb(12, 15, 30);
  width: 100%;
  border-radius: 10px;
  padding-left: 20px;

}

.bloc-final {
  padding-top: 30px;
  padding-left: 30px;

}

.colone-noir {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 20px;

}

.colone-cnn {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 20px;

}

.colone-twiter {
  display: flex;
  flex-direction: row;
  gap: 15px;
  /* padding-top: 20px; */

}

.noir-bloc {
  padding-top: 10px;
}

.ul-Who {
  font-weight: bold;
  padding-top: 10px;
  color: #FFFF;
}

.SQUID {
  color: #FFFF;
}

.nytimes {
  color: #6f6969;
}

.cnn {
  color: #565555;
}

.Twitter- {
  color: #aeabab;
}

.text-dernier-un-deux {
  display: flex;
  padding-top: 30px;
  padding-left: 30px;


}

.text-dernier {
  display: flex;
  flex-direction: row;
  color: #4f4949;
  padding-top: 5px;
  gap: 5px;
  padding-left: 30px;
}

.text-dernier-un {
  display: flex;
  flex-direction: row;
  color: #474444;
  padding-top: 5px;
  gap: 10px;
  /* padding-left: 30px; */
}

/* .img-keren{

  width: 30%;
  height: 1px;
} */
.Profile-timeline {
  color: #FFFF;
  width: 35%;
  border: 1px solid #4e4c4c;

}

.raduis {
  border-radius: 50px;
  padding-left: 40px;

}

.profile-color {
  color: #514f4f;
  padding-top: 10px;
}

.profile-following {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;

}

.profiles-color {
  color: #514f4f;
}

.profiles-text {
  display: flex;
  gap: 90px;
  padding-left: 20px;
  padding-top: 30px;
}

.profile-images {
  border: 1px solid #3b3838;

}

.profiles-keren {
  padding-left: 10px;
}

.profiles-feuille {
  display: flex;
  flex-direction: row;
  width: 0px;
  border-radius: 25px;

}

.classe {
  display: flex;
  gap: 600px;
  padding-top: 80px;
  overflow-x: auto;
}