@font-face {
  font-family: "keren";
  src: url(./images/SFPRODISPLAYMEDIUM.OTF);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: Keren;
}


.contenair-central {
  display: flex;
  width: 100%;
  gap: px;
  background-color: black;

}

.classeun {
  width: 35%;

  /* overflow-x: auto; */
}

.contenairpremiere {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 15px;
  width: 25%;
}

.contenairpremiere-1 {
  display: flex;
  /* display: inline-block; */
  flex-direction: column;
  width: 130%;
  gap: 40px;
  font-size: large;
  padding-left: 260px;

}

.nav-_link {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.bouton {
  width: 50%;
  height: 50px;
}

.bare-2 {
  display: flex;
  padding-top: 140px;

}

.contenairtrois {
  border: 1px solid #2427bb;
  width: 25%;

}

.buton-un {
  background-color: #0a82be;
  color: #FFFF;
  width: 60%;
  height: 55px;
  border-radius: 25px;
  justify-content: end;


}

.What-happening {
  color: #a29a9a;

}

.home {
  display: flex;
  flex-direction: row;
  color: #FFFF;
  border: 1px solid #1e1a1a;
  height: 60px;
  justify-content: space-between;
  padding-bottom: 5px;
  font-weight: bold;
}

.home-whidth {
  width: 50%;
}

.bare-text {
  padding-left: 15px;
}

.photo-du-bas {
  display: flex;

}

.MORE {
  padding-left: 0px;
}

.bradley_ {
  color: #6d6a6a;
}

.sticker {
  gap: 1px;
  margin-left: 30px;
}

.boutonprofile {
  width: 50%;

}

.profilepremier {
  border: 1px solid #282626;
  color: #FFFF;
  display: flex;
}

.classetrois {

  color: #fffdfd;
  border: 1px solid #282626;
  gap: 1rem;
  padding: 1rem;

}

.class-trois-1-cnn-ligne {
  display: flex;
}

.cnn-27 {
  display: flex;
  color: #6d6a6a;
}

.text-lorem {
  padding-left: 55px;
  color: #d8d5d5;
}

.class-trois-1-cnn {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding-left: 5px;
}

.CNN-text {
  padding-left: 5px;
  color: #888282;
}

.class-trois-1 {
  display: flex;
}

.hover-4 {
  fill: #888282;
}

.hover-4:hover {
  fill: #e11168;
}

.hover-3 {
  fill: #888282;
}

.hover-3:hover {
  fill: #0fc2b6;
}

.hover-1 {
  fill: #888282;
}

.hover-1:hover {
  fill: #0823b8;
}

.liké {
  display: flex;
  width: 4%;
  gap: 10px;
}

.image-cnn {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.class-quatre {
  border: 1px solid #282626;
  color: #FFFF;
}

.flex-bloc-noir-blanc {
  display: flex;
  padding-top: 10px;
}


.logo-en-noir {
  display: flex;
  flex-direction: column;
  color: #FFFF;
  padding-left: 60px;

}

.text-du-logo-noir {
  display: flex;
}

.fleure {
  display: flex;
  padding-left: 65px;
  padding-top: 5px;

}

.nytimes-2h {
  color: #6d6a6a;
}

.fleure img {
  border-radius: 1rem;
  width: 90%;
}

.text-fleure {
  display: flex;
  gap: 25px;
  padding-left: 75px;
  padding-top: 20px;
}

.twiter {
  border: 1px solid #aeabab;
  color: #FFFF;

}

.twiterun {
  color: #FFFF;
  border: 1px solid #aeabab;
}

.like {
  gap: 30px;
  padding-top: 20px;
  margin-left: 30px;
}

.media {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  gap: 10px;
}

.bouton-deux {
  padding-left: 310px;
  width: 40%;
  height: 40px;
  padding-bottom: 5px;
}

.tweeter-deux {
  background-color: #0a82be;
  color: #FFFF;
  width: 170%;
  height: 40px;
  border-radius: 25px;
  justify-content: end;
}

.like-deux {
  display: flex;
  padding-left: 70px;
  padding-top: 15px;
  gap: 20px;
}

.logotweeter-un {
  display: flex;
  gap: 20px;
}

.text-tweeter {
  padding-left: 70px;
  gap: 20px;
}

.tweetertext-deux {
  display: flex;
  padding-left: 70px;
}

.nav {
  display: flex;
  justify-content: center;
  /* padding-left: 20%; */
  align-items: center;
  background-color: rgb(13, 15, 37);
  border-radius: 30px;
  padding: 5px;
  width: 110%;
  height: 42px;

}

.nav-input {
  width: 80%;
  height: 30px;
  background-color: rgba(19, 22, 47, 0.625);

}

.contenairtrois {
  padding-left: 60px;

}

input {
  background-color: rgb(9, 9, 9);
}

.ul-un {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 18, 34);
  border-radius: 10px;

}

.text-option {
  padding-top: 5px;
}

.show-more {
  color: #1D9BF0;
  font-weight: bold;
  padding-top: 10px;
}

.Trending-1 {
  font-weight: bold;
  padding-top: 20px;
  color: #5f5b5b;
}

.Trending-2 {
  font-weight: bold;
  padding-top: 20px;
  color: #434040;
}

.Trending-3 {
  font-weight: bold;
  padding-top: 20px;
  color: #464444;
}

.Trending-4 {
  font-weight: bold;
  padding-top: 20px;
  color: #5f5959;
}

.Trending-enligne {
  display: flex;
  justify-content: space-between;
}

.ul {
  padding-top: 30px;
  width: 97%;
  /* color: #a22222; */
  padding-left: 30px;

}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.img-option {
  justify-content: end;
}


.Follow {
  justify-content: end;
  width: 240%;
  height: 50px;
  border-radius: 25px;

}

.classe-pour-follow {
  padding-left: 107px;

}

.classe-pour-follow-3 {
  padding-left: 93px;

}

.bloc-dernier {
  display: flex;
  color: #ffffff;
  background-color: rgb(12, 15, 30);
  width: 100%;
  border-radius: 10px;
  padding-left: 20px;

}

.bloc-final {
  padding-top: 30px;
  padding-left: 30px;

}

.colone-noir {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 20px;

}

.colone-cnn {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 20px;

}

.colone-twiter {
  display: flex;
  flex-direction: row;
  gap: 15px;
  /* padding-top: 20px; */

}

.noir-bloc {
  padding-top: 10px;
}

.ul-Who {
  font-weight: bold;
  padding-top: 10px;
  color: #FFFF;
}

.SQUID {
  color: #FFFF;
}

.nytimes {
  color: #6f6969;
}

.cnn {
  color: #565555;
}

.Twitter- {
  color: #aeabab;
}

.text-dernier-un-deux {
  display: flex;
  padding-top: 30px;
  padding-left: 30px;


}

.text-dernier {
  display: flex;
  flex-direction: row;
  color: #4f4949;
  padding-top: 5px;
  gap: 5px;
  padding-left: 30px;
}

.text-dernier-un {
  display: flex;
  flex-direction: row;
  color: #474444;
  padding-top: 5px;
  gap: 10px;
  padding-left: 30px;
}

/* .img-keren{

  width: 30%;
  height: 1px;
} */
.Profile-timeline {
  color: #FFFF;
  width: 35%;
  border: 1px solid #4e4c4c;

}

.raduis {
  border-radius: 50px;
  padding-left: 40px;

}

.profile-color {
  color: #514f4f;
  padding-top: 10px;
}

.profile-following {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;

}

.profiles-color {
  color: #514f4f;
}

.profiles-text {
  display: flex;
  gap: 90px;
  padding-left: 20px;
  padding-top: 30px;
}

.profile-images {
  border: 1px solid #3b3838;

}

.profiles-keren {
  padding-left: 10px;
}

.profiles-feuille {
  display: flex;
  flex-direction: row;
  width: 0px;
  border-radius: 25px;

}

.classe {
  display: flex;
  gap: 600px;
  padding-top: 30px;
  /* overflow-x: auto; */
  width: 30%;
  height: 50px;
  padding-left: 10px;

}

.p {
  border: 1px solid #4e4c4c;
  height: 4px;
  background-color: #2427bb;
  width: 160%;
}

.classe-profile {
  border: 1px solid #4e4c4c;
  width: 100%;
  height: 100px;
  background-color: rgb(195, 67, 195);
  border-radius: 10px;

}

.profile-color {
  display: flex;
  gap: 40px;
  padding-left: 30px;
  width: 90%;

}

.classe-profile-1 {
  border: 1px solid #4e4c4c;
  width: 100%;
  height: 100px;
  background-color: rgb(45, 194, 199);
  border-radius: 10px;
}

.classe-profile-2 {
  border: 1px solid #4e4c4c;
  width: 100%;
  height: 100px;
  background-color: rgb(227, 208, 7);
  border-radius: 10px;
}

.classe-profile-3 {

  border: 1px solid #4e4c4c;
  width: 100%;
  height: 100px;
  background-color: rgb(136, 48, 114);
  border-radius: 10px;
}

.color-profile-p {
  color: #FFFF;
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.texte-prodile {
  display: flex;
  gap: 20px;
  padding-left: 30px;
  padding-top: 20px;
}

.link {
  text-decoration: none;
  color: #FFFF;

}

.Explore {
  color: darkorange;
}

.img-rose-profile {
  padding-left: 30px;
  height: 400px;
  width: 80%;
  border-radius: 20px;
}

.img-keke-profile {
  padding-left: 30px;
  height: 400px;
  width: 30%;
  border-radius: 20px;
  padding-bottom: 50px;
}

.img-keren {
  height: 350px;
  width: 100%;
  border-radius: 2px;
}

.keke-2 {
  height: 400px;
  width: 95%;
  border-radius: 2%;
  padding-top: 50px;
}

.arbre {
  height: 400px;
  border-radius: 20px;
}

.image-eau-profile {
  display: flex;
  justify-content: center;
  /* padding-left: 20%; */
  align-items: center;
  border-radius: 50px;
  padding: 5px;

}

.img-keren2 {
  width: 35%;
  height: 230px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 50px;
}

.link-1 {

  padding-right: 20px;
}

.Explore {
  border: 1px solid #4e4c4c;
  width: 35%;
  color: #FFFF;
}

.nav-1 {
  border: 1px solid #4e4c4c;

}

.nav-input {
  width: 80%;
  border-radius: 20px;
}

.input-explore {
  padding-top: 10px;
  height: 50px;
}

textarea {
  width: 40%;
  height: 30px;
  background-color: black;
}

.trends-explore {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
}

.tex-color {
  color: #4e4e4e;
}

.show-more-explore {
  width: 20%;
  padding-left: 20px;
  padding-top: 30px;
  color: #1D9BF0;
}

.img-lunett {
  border-radius: 10%;
  padding-top: 10px;
  width: 90%;
  padding-left: 20px;
}

.lorem {
  padding-left: 30px;
  padding-top: 20px;
}

.cnn-profile {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  padding-top: 10px;

}

.notification {
  color: #FFFF;
  border: 1px solid #4e4c4c;
  width:35% ;
}
.notification-1{
  display: flex;
  flex-direction: column;
  border: 1px solid #4e4c4c;
padding-left:10px ;

}
.notis-text{
  padding-left: 15px;
  padding-top: 10px;
}
.not-verified{
  color: #2c2d41;

}
.notification-2{
  display: flex;
  flex-direction: column;
  border: 1px solid #4e4c4c;
padding-left:10px ;
}
.not-tex{
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-top: 20px;
}
.border{
  border: 1px solid #4e4c4c;
width: 10%;
height: 4px;
background-color: #176cce;
}
.message{
color: #FFFF;
border: 1px solid #4e4c4c;
width: 30%;
}
.welcome{
  padding-top: 70px;
  padding-left: 50px;
}
.msg-bouton{
  padding-left: 50px;
  padding-top: 30px;
}
.bouton-msg{
  width: 35%;
  height: 60px;
  border-radius:30px ;
  background-color: #0a82be;
  color: rgb(253, 253, 253);
}
.p-msg{
  color: #2c2d41;
  padding-top: 10px;
}
.Bookmarks{
color: #FFFF;
border: 1px solid #363739;
width: 30%;

}
.text-bookmarks{
justify-content: center; 
text-align: center; 
padding-top: 70px;
}
.p-boomarks{
  padding-left: 110px;
  color: #1e1f2d;
}
.p-happuc{
  color: #30313d;
}
.Bookmarks-1{
  padding-left: 10px;
}