* {
  padding: 0px;
  margin: 0px;
}

.contenair-central {
  display: flex;
  width: 100%;
  gap: 15px;
  background-color: black;

}

.classeun {
  /* border: 1px solid #1e456a; */
  width: 40%;

}

.contenairpremiere {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 15px;
  width: 25%;

}

.contenairpremiere-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding-left: 190px;

}

.bouton {
  width: 60%;
  height: 40px;
}

.bare-2 {
  display: flex;
  padding-top: 250px;

}

.contenairtrois {
  /* border: 1px solid #c50c0c; */
  width: 25%;

}

.buton-un {
  background-color: #1D9BF0;
  color: #FFFF;
  width: 60%;
  height: 40px;
  border-radius: 25px;
  justify-content: end;


}

.home {
  display: flex;
  flex-direction: row;
 color: #FFFF;
  border: 1px solid #aeabab;
  height: 60px;
  justify-content: space-between;
  padding-bottom: 5px;
font-weight: bold;
}
.home-whidth{
  width: 50%;
}

.sticker {
  gap: 1px;
  margin-left: 30px;
}

.boutonprofile {
  width: 50%;

}

.profilepremier {
  border: 1px solid #aeabab;
  color: #FFFF;
  display: flex;
}

.classetrois {
 
  color: #FFFF;
  border: 1px solid #aeabab;
  gap: 1rem;
  padding: 1rem;

}

.CNN-text{
padding-left: 5px;
color: #888282;
}

.class-trois-1{
  display: flex;
}
.image-cnn {
  display: flex;
  padding-top: 20px;
  gap: 20px;
}

.classequatre {
  border: 1px solid #aeabab;
  color: #FFFF;
}

/* .avatar img {
  flex-basis: 10%;
  border-radius: 1rem; 
} */

.fleure {
  display: flex;
}

.fleure img {
  /* width: 100%; */
  border-radius: 1rem;
}

.fleur-text {
  padding-left: 75px;
}

.twiter {
  border: 1px solid #aeabab;
  color: #FFFF;

}

.twiterun {
  color: #FFFF;
  border: 1px solid #aeabab;
}

.like {
  gap: 30px;
  padding-top: 20px;
  margin-left: 30px;
}

.media {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  gap: 5px;
}

.bouton-deux {
  padding-left: 450px;
  width: 40%;
  height: 40px;
}

.tweeter-deux {
  background-color: #1D9BF0;
  color: #FFFF;
  width: 150%;
  height: 30px;
  border-radius: 25px;
  justify-content: end;
}

.like-deux {
  display: flex;
  padding-left: 70px;
  padding-top: 15px;
  gap: 20px;
}

.logotweeter-un {
  display: flex;
  gap: 20px;
}

.text-tweeter {
  padding-left: 70px;
  gap: 20px;
}

.tweetertext-deux {
  display: flex;
  padding-left: 70px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(22, 23, 31);
  border-radius: 30px;
  padding: 5px;
  width: 160%;
  height: 42px;

}

.nav-input {
  width: 80%;
  color: white;
  height: 30px;
  background-color: rgb(22, 23, 31);
}

.contenairtrois {
  padding-left: 45px;
  display: flex;

}

input {
  background-color: black;
}

.ul-un {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 23, 31);
  border-radius: 10px;

}

.text-option{
  padding-top: 5px;
}
.show-more{
  color: #1D9BF0;
font-weight: bold;
padding-top: 10px;
}

.Trending-1{
  font-weight: bold;
padding-top: 10px;
color: #aeabab;
}
.Trending-2{
  font-weight: bold;
  padding-top: 10px;
  color: #aeabab;
}

.Trending-3{
  font-weight: bold;
  padding-top: 10px;
  color: #aeabab;
}

.Trending-4{
  font-weight: bold;
  padding-top: 10px;
  color: #aeabab;
}


.ul {
  padding-top: 20px;
  width: 155%;
  color: #FFFF;
  padding-left: 5px;

}

.option {
  justify-content: right;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.img-option {
  justify-content: end;
  display: flex;
}

.Follow {
width: 170%;
height: 30px;
border-radius: 25px;
}

.dernier-bloc{
  color: #FFFF;
  background-color: rgb(22, 23, 31);
  border: 1px solid #aeabab;
  width: 150%;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
}
.colone-noir{
  display: flex;
flex-direction: row;
gap: 15px;
padding-top: 20px;

}

.colone-cnn{
  display: flex;
flex-direction: row;
gap: 15px;
padding-top: 20px;

}

.colone-twiter{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 20px;

}


.noir-bloc {
  padding-top: 10px;
}
.ul-Who{
  font-weight: bold;
  padding-top: 10px;
  color: #FFFF;
}
.SQUID{
color: #FFFF;
}

.nytimes{
color: #aeabab;}
.cnn{
color: #aeabab;}

.Twitter-{
color: #aeabab;}